#kwadrat1  {
  width: 100px;
  height: 100px;
  opacity: 1;
  background-color: red;
}


#kwadrat2  {

  width: 100px;
  height: 100px;
  opacity: 1;
  background-color: blue;
}

#kwadrat3  {
 
  width: 90px;
  height: 90px;
  opacity: 1;
  background-color: green;
}

#kwadrat4  {

  width: 90px;
  height: 90px;
  opacity: 1;
  background-color: orange;
}

#kwadrat5  {

  width: 90px;
  height: 90px;
  opacity: 1;
  background-color: yellow;
}